@import '../../style/mixin.scss';
@import '../../assets/iconfont/iconfont.css';

.rating-page{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #f2f2f2;
  z-index: 201;
  padding-top: 1.95rem;
  p, span{
    font-family: Helvetica Neue,Tahoma,Arial;
  }

  .profile-info{
    @include wh(100%, 3.1rem);
    .profile-info-upload{
      display: block;
      position: absolute;
      opacity: 0;
      top: 2.35rem;
      left: 0;
      @include wh(100%, 3.1rem);
    }
    .headportrait{
      margin-top: .4rem;
      padding: .5rem .4rem;
      @include wh(100%, 3.1rem);
      @include flex(space-between);
      border-top: 1px solid #ddd;
      background-color: #fff;
      h2{
        @include font(.6rem, #333);
        font-weight: 600;
        @include flex;
      }
      .info-avatar{
        @include flex;
        .headport-top{
          @include wh(2rem, 2rem);
          border-radius: 50%;
          vertical-align: middle;
        }
        .icon-arrow-right{
          margin-left: .5rem;
          color: #ccc;
        }
      }
    }
  }
}