*{
  padding: 0;
  margin: 0;
    /*防止点击闪烁*/
  -webkit-tap-highlight-color: transparent;
    /*缩放网页，文字大小不变*/
  -webkit-text-size-adjust: none;
  font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  font-weight: normal;
}

/* 设置iconfont标签font-family */ 
[class^="icon-"],[class*=" icon-"] {
  font-family: "iconfont";
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


/*去除虚线*/
input:focus,select:focus,textarea:focus,button:focus{
  outline: none;
}

/*背景色*/
html, body{
  height: 100%;
  width: 100%;
  background-color: #f5f5f5;
}

a{
  text-decoration: none;
  /*ios禁止页面在新窗口打开*/
  -webkit-touch-callout:none;
}