$blue: #3190e8;
$bc: #e4e4e4;
$fc:#fff;


// 长宽
@mixin wh($width, $height) {
  width: $width;
  height: $height;
}

//左右上下居中
@mixin center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%, 0)
}


@mixin font($size, $color: #333, $text-align: left){
  font-size: $size;
  color: $color;
  text-align: $text-align;
}

@mixin flex($justify-content: center, $align-items: center) {
  display: flex;
  justify-content: $justify-content;
  align-items: $align-items;
}